.bulb {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
    background-color: gray;
  }
  
  .bulb.on {
    background-color: yellow;
  }
  
  button {
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
  }
  .center-container {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically */
    height: 100vh;           /* Full viewport height */
  }